#reg{
  display: flex;
  height: 600px;
  align-items: center;
}
#header h3{
  font-family:Georgia, 'Times New Roman', Times, serif;
}

#movie{
  overflow: hidden;
  margin: 0 auto;
}

#movie img:hover{
  transform: scale(1.09);
  transition: transform .5s;
}
